
{% load static %}
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{% static 'contacts/css/main.css' %}">

    </head>
        <header>
            <h1>Simulizi</h1>
            <nav>
                    <button id="view_contacts">View Contacts</button>
                    <button id="messages">Messages</button>
                    <button id="new_contact">New Contact</button>
            </nav>
        </header>
  


        <main>
     


        </main>

                <div class="newcontact_modal">
                    <button class="close_newcontact_modal" id="close_newcontact_modal">+</button>
                    <span>New Contact</span>

                    <input placeholder="Name" type="text"></input>
                    <input placeholder="Phone" type="number"></input>
                    <input placeholder="E-mail" type="email"></input>
                    <input placeholder="Birthday" type="date"></input>
                    <input placeholder="Website" type="url"></input>
                    <button id="save_contact">Save</button>

                </div>
             

            <script>
                new_contact = document.querySelector('#new_contact')
                close_newcontact = document.querySelector('#close_newcontact_modal')


                // name.onmouseover = function() {
                //     pentagon.py -= 30
                //     pentagon.vy = -11   
                //     close_3()
                // };
                // name.onmouseout = function() {
                //     close_1()
                // }

                // dev.onmouseover = function() {
                //     pentagon.py += 30
                //     pentagon.vy = 11
                // };
                // dev.onmouseout = function() {
                //     close_2()
                // }

                new_contact.onclick = function(){
                    document.querySelector(".newcontact_modal").style.display = "flex";  
                }
                close_newcontact.onclick = function(){
                    document.querySelector(".newcontact_modal").style.display = "none";  
                }
                    
                function newcontact_modal() {
                    document.querySelector(".newcontact_modal").style.display = "flex";  
                }

    


                

                // function for calculating the overlap between two rectangles
                function check_collision(rect1, rect2) {
                    let x_overlap = Math.max(0, Math.min(rect1.px + rect1.width, rect2.px + rect2.width) - Math.max(rect1.px, rect2.px))
                    let y_overlap = Math.max(0, Math.min(rect1.py + rect1.height, rect2.py + rect2.height) - Math.max(rect1.py, rect2.py))
                    let overlapArea = x_overlap * y_overlap
                    return overlapArea != 0

                }
                
   
                                        
            </script>

        </body>
</html>